# Exploratory Data Analysis (EDA)

**Objective:**  
Explore the cleaned EV population dataset to understand adoption trends,
vehicle characteristics, and geographic distribution. This analysis
identifies patterns and relationships that will guide deeper analysis
and feature engineering.

**Data Source:**  
Processed dataset generated in `02_cleaning.ipynb`.

In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv("../data/cleaned/ev_population_clean.csv")
df.head()

,vin_1_10,county,city,state,postal_code,model_year,make,model,electric_vehicle_type,clean_alternative_fuel_vehicle_cafv_eligibility,electric_range,legislative_district,dol_vehicle_id,vehicle_location,electric_utility,2020_census_tract
0,5YJYGDEE8L,Thurston,Tumwater,WA,98501.0,2020,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,291.0,35.0,124633715,POINT (-122.89165 47.03954),PUGET SOUND ENERGY INC,5.306701e+10
1,5YJXCAE2XJ,Snohomish,Bothell,WA,98021.0,2018,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,238.0,1.0,474826075,POINT (-122.18384 47.8031),PUGET SOUND ENERGY INC,5.306105e+10
2,5YJ3E1EBXK,King,Kent,WA,98031.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220.0,47.0,280307233,POINT (-122.17743 47.41185),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
3,7SAYGDEE4T,King,Issaquah,WA,98027.0,2026,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,41.0,280786565,POINT (-122.03439 47.5301),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303302e+10
4,WAUUPBFF9G,King,Seattle,WA,98103.0,2016,AUDI,A3,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,16.0,43.0,198988891,POINT (-122.35436 47.67596),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303300e+10

In [17]:
df.shape
df.info()
df.describe(include="all")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270262 entries, 0 to 270261
Data columns (total 16 columns):
 #   Column                                           Non-Null Count   Dtype
---  ------                                           --------------   -----
 0   vin_1_10                                         270262 non-null  object
 1   county                                           270252 non-null  object
 2   city                                             270252 non-null  object
 3   state                                            270262 non-null  object
 4   postal_code                                      270252 non-null  float64
 5   model_year                                       270262 non-null  int64
 6   make                                             270262 non-null  object
 7   model                                            270262 non-null  object
 8   electric_vehicle_type                            270262 non-null  object
 9   clean_alternative_fuel_vehicle_cafv_eligibility  270262 non-null  object
 10  electric_range                                   270257 non-null  float64
 11  legislative_district                             269613 non-null  float64
 12  dol_vehicle_id                                   270262 non-null  int64
 13  vehicle_location                                 270174 non-null  object
 14  electric_utility                                 270252 non-null  object
 15  2020_census_tract                                270252 non-null  float64
dtypes: float64(4), int64(2), object(10)
memory usage: 33.0+ MB

,vin_1_10,county,city,state,postal_code,model_year,make,model,electric_vehicle_type,clean_alternative_fuel_vehicle_cafv_eligibility,electric_range,legislative_district,dol_vehicle_id,vehicle_location,electric_utility,2020_census_tract
count,270262,270252,270252,270262,270252.000000,270262.000000,270262,270262,270262,270262,270257.000000,269613.000000,2.702620e+05,270174,270252,2.702520e+05
unique,16415,242,864,51,NaN,NaN,47,183,2,3,NaN,NaN,NaN,1080,77,NaN
top,7SAYGDEE7P,King,Seattle,WA,NaN,NaN,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,NaN,NaN,NaN,POINT (-122.13158 47.67858),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),NaN
freq,1171,133903,42125,269613,NaN,NaN,111049,57335,215859,169872,NaN,NaN,NaN,6588,96367,NaN
mean,NaN,NaN,NaN,NaN,98176.713849,2021.964468,NaN,NaN,NaN,NaN,40.386332,28.850107,2.441199e+08,NaN,NaN,5.297261e+10
std,NaN,NaN,NaN,NaN,2569.741818,3.053960,NaN,NaN,NaN,NaN,79.342202,14.895435,6.430872e+07,NaN,NaN,1.625614e+09
min,NaN,NaN,NaN,NaN,1030.000000,1999.000000,NaN,NaN,NaN,NaN,0.000000,1.000000,4.385000e+03,NaN,NaN,1.001020e+09
25%,NaN,NaN,NaN,NaN,98052.000000,2021.000000,NaN,NaN,NaN,NaN,0.000000,17.000000,2.194414e+08,NaN,NaN,5.303301e+10
50%,NaN,NaN,NaN,NaN,98133.000000,2023.000000,NaN,NaN,NaN,NaN,0.000000,32.000000,2.615051e+08,NaN,NaN,5.303303e+10
75%,NaN,NaN,NaN,NaN,98382.000000,2024.000000,NaN,NaN,NaN,NaN,33.000000,42.000000,2.776210e+08,NaN,NaN,5.305394e+10
max,NaN,NaN,NaN,NaN,99577.000000,2026.000000,NaN,NaN,NaN,NaN,337.000000,49.000000,4.791150e+08,NaN,NaN,6.601095e+10

The dataset contains structured records of electric vehicles with
temporal, geographic, and vehicle-level attributes. Missing values
remain in administrative and range-related fields and reflect
limitations in source reporting rather than data quality errors.

In [18]:
df["electric_vehicle_type"].value_counts(normalize=True)

electric_vehicle_type
Battery Electric Vehicle (BEV)            0.798703
Plug-in Hybrid Electric Vehicle (PHEV)    0.201297
Name: proportion, dtype: float64

In [19]:
df["make"].value_counts().head(10)

make
TESLA         111049
CHEVROLET      19032
NISSAN         15963
FORD           14819
KIA            13470
TOYOTA         11159
BMW            11036
HYUNDAI         9651
RIVIAN          8475
VOLKSWAGEN      7358
Name: count, dtype: int64

In [20]:
df["model_year"].value_counts().sort_index()

model_year
1999        2
2000        8
2002        1
2003        1
2008       20
2010       23
2011      603
2012     1402
2013     3989
2014     3223
2015     4430
2016     5139
2017     8459
2018    14007
2019    10811
2020    12099
2021    20628
2022    29622
2023    59324
2024    49138
2025    35954
2026    11379
Name: count, dtype: int64

Battery Electric Vehicles (BEVs) dominate the dataset, with a smaller share of Plug-in Hybrid Electric Vehicles (PHEVs). A limited number of manufacturers account a large proportion of EV registrations.

In [21]:
ev_by_year = df.groupby("model_year").size()
ev_by_year

model_year
1999        2
2000        8
2002        1
2003        1
2008       20
2010       23
2011      603
2012     1402
2013     3989
2014     3223
2015     4430
2016     5139
2017     8459
2018    14007
2019    10811
2020    12099
2021    20628
2022    29622
2023    59324
2024    49138
2025    35954
2026    11379
dtype: int64

In [30]:
df.groupby(["model_year", "electric_vehicle_type"]).size().unstack(fill_value=0)

electric_vehicle_type,Battery Electric Vehicle (BEV),Plug-in Hybrid Electric Vehicle (PHEV)
model_year,,
1999,2,0
2000,8,0
2002,1,0
2003,1,0
2008,20,0
2010,21,2
2011,544,59
2012,619,783
2013,2481,1508
2014,1560,1663
2015,3174,1256
2016,3492,1647
2017,4553,3906
2018,9753,4254
2019,8767,2044
2020,10289,1810
2021,16281,4347
2022,24770,4852
2023,51850,7474
2024,38589,10549
2025,28267,7687
2026,10817,562

EV registrations increase sharply in recent model years, indicating
accelerating adoption. BEVs increasingly dominate newer registrations,
suggesting a shift away from hybrid models.

In [24]:
df["county"].value_counts().head(10)

county
King         133903
Snohomish     33531
Pierce        22213
Clark         16553
Thurston       9852
Kitsap         9057
Spokane        7593
Whatcom        6620
Benton         3792
Skagit         3166
Name: count, dtype: int64

In [26]:
df.groupby("county").size().sort_values(ascending=False).head(10)

county
King         133903
Snohomish     33531
Pierce        22213
Clark         16553
Thurston       9852
Kitsap         9057
Spokane        7593
Whatcom        6620
Benton         3792
Skagit         3166
dtype: int64

In [27]:
df["electric_range"].describe()

count    270257.000000
mean         40.386332
std          79.342202
min           0.000000
25%           0.000000
50%           0.000000
75%          33.000000
max         337.000000
Name: electric_range, dtype: float64

In [28]:
df.groupby("model_year")["electric_range"].mean()

model_year
1999     74.000000
2000     58.000000
2002     95.000000
2003     95.000000
2008    209.000000
2010    232.391304
2011     71.434494
2012     59.727532
2013     78.468288
2014     78.598200
2015     95.922348
2016    101.997860
2017    117.755054
2018    156.884058
2019    176.246323
2020    237.886850
2021     12.569517
2022      4.733711
2023      3.842239
2024      7.460764
2025      7.484089
2026      1.920724
Name: electric_range, dtype: float64

The average electric range across all EV types decreases in recent model
years due to the inclusion of Plug-in Hybrid Electric Vehicles and
incomplete range reporting for newer registrations.

In [32]:
df.groupby(["model_year", "electric_vehicle_type"])["electric_range"].mean().unstack(fill_value=0)

electric_vehicle_type,Battery Electric Vehicle (BEV),Plug-in Hybrid Electric Vehicle (PHEV)
model_year,,
1999,74.000000,0.000000
2000,58.000000,0.000000
2002,95.000000,0.000000
2003,95.000000,0.000000
2008,209.000000,0.000000
2010,245.000000,100.000000
2011,75.386029,35.000000
2012,108.048465,21.527458
2013,110.485691,25.792440
2014,127.021795,33.173782
2015,120.465658,33.899682
2016,137.305556,27.137826
2017,186.555238,37.558628
2018,210.644520,33.629290
2019,210.048249,31.265166
2020,274.870444,27.652486
2021,8.459923,27.961353
2022,0.000000,28.899835
2023,0.000000,30.497324
2024,0.778253,31.905868
2025,0.000000,35.019263
2026,0.000000,38.955437

When electric range is analyzed by vehicle type, a clear divergence
emerges. Battery Electric Vehicles exhibit a strong increase in average
range through 2020, reflecting advances in battery technology. Plug-in
Hybrid Electric Vehicles maintain a relatively stable and low electric-
only range across years, consistent with their design intent. Apparent
declines in BEV range in recent model years are attributable to
incomplete reporting rather than true performance regression.

## Key Findings from EDA

- EV adoption accelerates sharply in recent model years.
- Battery Electric Vehicles increasingly dominate the market relative to Plug-in Hybrid Electric Vehicles.
- A small number of manufacturers and counties account for a disproportionate share of EV registrations.
- Battery Electric Vehicle range increases substantially through the late 2010s, reflecting advances in battery technology, while Plug-in Hybrid Electric Vehicle range remains relatively stable. Apparent declines in recent years are driven by incomplete reporting rather than true performance regression.
- Missing values are concentrated in administrative fields and do not materially affect high-level trend analysis.

These findings inform the feature engineering and deeper analytical steps that follow.